/*CSS reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generics*/

body{
    background-color: blueviolet;
}


/*utilities*/

.w-900{
    max-width: 900px;
}



/*header*/
header{
    height: 400px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
}
footer{
    height: 400px;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/*barra di navigazione*/

.top-header{
    background-color: aliceblue;
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-conteiner{
    flex-basis: 100%;
    display: flex;   
}
.box{
    border: 1px dashed black;
    min-height: 30px;
    flex-basis: 25%;
    background-color: orange;
}
.links{
    border: 1px dashed blue;
    min-height: 30px;
    flex-basis: 75%; 
    background-color: orange;
}
.bottom-header{
    background-color: bisque;
    flex-basis: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-header{
    background-color: lightgreen;
    border: 1px dotted blue;
    min-height: 80%;
    flex-basis: 30%;
}

/*Main*/
/*creo una prima sezione per la foto e il testo*/
.odd{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items:center;
}
.section-conteiner{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-basis: 100%;
}
.box-image{
    background-color: violet;
    border: 1px  solid red;
    flex-basis: 30%;
    min-height: 300px;
}
.box-text{
    background-color: pink;
    border: 1px  solid red;
    flex-basis: 70%;
    min-height: 300px;

}
.even{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items:center;
}

.section-bb{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-basis: 100%;
}
.box-big{
    background-color: green;
    border: 1px solid brown;
    min-height: 90%;
    flex-basis: 100%;
}
/*footer*/
.top-footer{
    background-color: bisque;
    flex-basis: 80%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.piccolo{
    background-color: pink;
    height: 100%;
    width: 30%;
}
.grande{
    border: 1px dashed blue;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
}
.col{
    border: 1px solid white;
    width: 25%;
}
.bottom-footer{
    background-color: aliceblue;
    flex-basis: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.bottone{
    height: 20px;
    width: 40px;
    background-color: blue;
}